<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dashboard do Acadêmico</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>
<body>
<div class="container-fluid">
    <div class="row">
        <nav id="sidebar" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
            <div class="position-sticky pt-3">
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a class="nav-link" href="<%= edit_user_registration_path %>">
                            Editar Meu Perfil
                        </a>
                        <a class="nav-link" href="<%= my_applications_path %>">
                            Minhas Candidaturas
                        </a>
                    </li>
                </ul>
            </div>
    
        </nav>

        <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
            <div id="profile" class="content-section">
                <h2>Meu Perfil</h2>
                <p><strong>Nome:</strong> <%= @user.name %></p>
                <p><strong>Email:</strong> <%= @user.email %></p>
                <p><strong>Telefone:</strong> <%= @user.telefone %></p>
            </div>
        </main>
    </div>
</div>
</body>
</html>
