<% if @user.recruiter? %>
  <!-- Exibir dados da empresa -->
  <h1>Perfil da Empresa: <%= @user.name %></h1>
  <p><strong>Email:</strong> <%= @user.email %></p>
  <p><strong>name:</strong> <%= @user.name %></p>
  <p><strong>Telefone:</strong> <%= @user.telefone %></p>
<% else %>
  <!-- Exibir dados do usuário acadêmico -->
  <h1>Seu Perfil:</h1>
  <p><strong>Email:</strong> <%= @user.email %></p>
  <p><strong>name:</strong> <%= @user.name %></p>
  <p><strong>Telefone:</strong> <%= @user.telefone %></p>
<% end %>