<!-- app/views/devise/registrations/edit.html.erb -->
<h2 class="text-center">Edit Profile</h2>

<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card">
        <div class="card-body">
          <%= form_with(model: resource, as: resource_name, url: registration_path(resource_name), method: :put, local: true, html: { multipart: true }) do |f| %>

            <div class="form-group">
              <%= f.label :name, class: "form-label" %>
              <%= f.text_field :name, autofocus: true, class: "form-control" %>
            </div>
            
            <div class="mb-3">
              <%= f.label :email, class: "form-label" %>
              <%= f.email_field :email, autofocus: true, class: "form-control" %>
            </div>

            <div class="mb-3">
              <%= f.label :telefone, class: "form-label" %>
              <%= f.telephone_field :telefone, autofocus: true, autocomplete: "telefone", class: "form-control" %>
            </div>
            <% if @user.academic? %>
            <!-- Campos específicos para acadêmicos -->
            
            <div class="field">
              <%= f.label :cpf, class: "form-label" %><br/>
              <%= f.text_field :cpf, autofocus: true, class: "form-control" %>
            </div>

            <div class="mb-3">
              <%= f.label :graduacao, "Nome da Graduação" %><br/>
              <%= f.text_field :graduacao, autofocus: true, autocomplete: "Graduação", class: "form-control" %>
            </div>

            <div class="mb-3">
              <%= f.label :periodo_curso, "Período" %><br/>
              <%= f.text_field :periodo_curso, autofocus: true, autocomplete: "Periodo do Curso", class: "form-control" %>
            </div>

            <div class="mb-3">
              <%= f.label :habilidades_tecnicas, "Habilidades Técnicas" %><br/>
              <%= f.text_field :habilidades_tecnicas, autofocus: true, autocomplete: "Habilidades Tecnicas", class: "form-control" %>
            </div>

            <div class="mb-3">
              <%= f.label :numero_matricula, "Número de Matrícula" %><br/>
              <%= f.text_field :numero_matricula, autofocus: true, autocomplete: "Numero de Matricula", class: "form-control" %>
            </div>

            <div class="mb-3">
              <%= f.label :curriculo %><b/>
              <%= f.file_field :curriculo %>
            </div>
          <% elsif @user.recruiter? %>
            <!-- Campos específicos para recrutadores -->
            <div class="mb-3">
              <%= f.label :nome_empresa, "Nome da Empresa" %><br/>
              <%= f.text_field :nome_empresa, autofocus: true, autocomplete: "Nome da Empresa", class: "form-control"%>
            </div>

            <div class="mb-3">
              <%= f.label :razao_social, "Razão Social" %><br/>
              <%= f.text_field :razao_social, autofocus: true, autocomplete: "Razão Social", class: "form-control" %>
            </div>
          <% end %>

            <div class="d-grid gap-2">
              <%= f.submit "Update", class: "btn btn-primary" %>
            </div>
          <% end %>

          <hr>
        </div>
      </div>
    </div>
  </div>
</div>
