<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <div class="card">
        <div class="card-header text-center">
          <h2>Sign up</h2>
        </div>
        <div class="card-body">
          <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
            <%= devise_error_messages! %>

            <div class="form-group">
              <%= f.label :name, class: "form-label" %>
              <%= f.text_field :name, autofocus: true, class: "form-control" %>
            </div>

            <div class="form-group">
              <%= f.label :email, class: "form-label" %>
              <%= f.email_field :email, autofocus: true, class: "form-control" %>
            </div>
            
            <div class="form-group">
              <%= f.label :telefone, class: "form-label" %>
              <%= f.text_field :telefone, autofocus: true, class: "form-control" %>
            </div>
            
            <div class="form-group">
              <%= f.label :password, class: "form-label" %>
              <%= f.password_field :password, autocomplete: "off", class: "form-control" %>
            </div>

            <div class="form-group">
              <%= f.label :password_confirmation, class: "form-label" %>
              <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control" %>
            </div>

            <div class="form-group">
              <%= f.label :user_type, "Tipo de Usuário" %>
              <%= f.select :user_type, options_for_select([['Acadêmico', 'academic'], ['Recrutador', 'recruiter']], selected: resource.user_type), {}, {class: 'form-control', id: 'user_type_select'} %>
            </div>
            
            <div id="academic_fields" style="display: none;">
              <div class="form-group">
                <%= f.label :cpf, class: "form-label" %>
                <%= f.text_field :cpf, class: "form-control" %>
              </div>
            
              <div class="form-group">
              <%= f.label :graduacao, "Nome da Graduação" %>
                <%= f.text_field :graduacao, class: "form-control" %>
              </div>
            
              <div class="form-group">
              <%= f.label :periodo_curso, "Período" %>
                 <%= f.text_field :periodo_curso, class: "form-control" %>
              </div>
            
              <div class="form-group">
                <%= f.label :habilidades_tecnicas, "Habilidades Técnicas" %>
                <%= f.text_field :habilidades_tecnicas, class: "form-control" %>
              </div>
            
              <div class="form-group">
                <%= f.label :numero_matricula, "Número de Matrícula" %>
                <%= f.text_field :numero_matricula, class: "form-control" %>
              </div>
            
              <div class="form-group">
                <%= f.label :curriculo %>
                <%= f.file_field :curriculo, class: "form-control" %>
              </div>

            </div>

            <div id="recruiter_fields" style="display: none;">
              <div class="form-group">
                <%= f.label :nome_empresa, "Nome da Empresa" %>
                <%= f.text_field :nome_empresa, class: "form-control" %>
              </div>

              <div class="form-group">
                <%= f.label :cnpj, class: "form-label" %>
                <%= f.text_field :cnpj, class: "form-control" %>
              </div>
          
              <div class="form-group">
                <%= f.label :razao_social, "Razao Social" %>
                <%= f.text_field :razao_social, class: "form-control" %>
              </div>
          </div>
              
          
            <div class="form-group text-center mt-4">
              <%= f.submit "Sign up", class: "btn btn-primary btn-lg" %>
            </div>
          <% end %>

          <div class="text-center mt-3">
            <%= render "devise/shared/links" %>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>

<%= javascript_tag do %>
  
  document.addEventListener("DOMContentLoaded", function() {
  const userTypeSelect = document.getElementById('user_type_select');
  const academicFields = document.getElementById('academic_fields');
  const recruiterFields = document.getElementById('recruiter_fields');

  function toggleFields() {
    const userType = userTypeSelect.value;
    
    academicFields.style.display = (userType === 'academic') ? 'block' : 'none';

    recruiterFields.style.display = (userType === 'recruiter') ? 'block' : 'none';
  }

  toggleFields();

  userTypeSelect.addEventListener('change', toggleFields);
});

  


<% end %>





