<%= form_for [@job, @application] do |f| %>
  <% if @application.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@application.errors.count, "error") %> prohibited this application from being saved:</h2>
      <ul>
        <% @application.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
    <div class="form-group">
      <%= f.label :name %>
      <%= f.text_field :name, class: 'form-control' %>
    </div>
    
    <div class="form-group">
      <%= f.label :email %>
      <%= f.email_field :email, class: 'form-control' %>
    </div>
    
    <div class="form-group">
      <%= f.label :resume %>
      <%= f.file_field :resume, class: 'form-control' %>
    </div>
    
    <div class="form-group">
      <%= f.submit 'Apply', class: 'btn btn-primary' %>
    </div>
  <% end %>
  